<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.article.mapper.ApHotArticlesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heima.article.entity.ApHotArticles">
        <id column="id" property="id" />
        <result column="entry_id" property="entryId" />
        <result column="tag_id" property="tagId" />
        <result column="tag_name" property="tagName" />
        <result column="score" property="score" />
        <result column="article_id" property="articleId" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="county_id" property="countyId" />
        <result column="is_read" property="isRead" />
        <result column="release_date" property="releaseDate" />
        <result column="created_time" property="createdTime" />
    </resultMap>

</mapper>
